<%- include('partials/header') %>

<section id="title">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <a class="navbar-brand" href="">Secrets</a>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/submit">Submit a secret</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt"></i> logout</a>
        </li>
      </ul>
    </nav>
  </div>
</section>

<div class="jumbotron text-center">
  <div class="container-fluid">
    <!-- <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">You've Discovered My Secret!</h1> -->
    <div class="row">
      <% usersWithSecrets.secret.forEach(function(eachSecret){ %>
      <!-- <p class="secret-text"><%= eachSecret %></p> -->

        <div class="col-lg-4 col-md-6">
          <div class="card h-100">
            <div class="card-body">
              <p class="secret-text"><%= eachSecret %></p>
            </div>
          </div>
        </div>
      <%  }) %>
    </div>
    <!-- <hr>
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a> -->
  </div>
</div>

<%- include('partials/footer') %>
